/*body{*/
/*    background-color:#eceddd;*/
/*    font-family:Arial, Verdana,'Lucida Grande', Helvetica, sans-serif;*/
/*    text-align: center;*/
/*}*/
/*.header{*/
/*    background: url("#") no-repeat #85D0ED;*/
/*    width: 902px;*/
/*    height: 203px;*/
/*    margin: 0 auto;*/
/*    }*/
/*header h1 {*/
/*    float:left;*/
/*    font-size:2.9em;*/
/*    padding-top:60px;*/
/*    padding-left:37px;*/
/*    font-family:Arial,verdana, sans-serif;*/
/*    color:#37210c;*/
/*    font-weight:bolder;*/
/*    letter-spacing:-1px;*/
/*    }*/
/*.orange{*/
/*    color:#e67e1f;*/
/*    }*/
/*nav{*/
/*    list-style-type:none;*/
/*    margin:0 auto;*/
/*    width:902px;*/
/*    background-color:#303;*/
/*    clear:both;*/
/*    }*/
/*nav ul{*/
/*    list-style:none;*/
/*    margin-bottom:0;*/
/*    margin-top:0;*/
/*    margin-left:0;*/
/*    width:902px;*/
/*    }*/
/*nav ul li{*/
/*    text-align:center;*/
/*    float:left;*/
/*    padding-left:0;*/
/*    padding-top:0;*/
/*    padding-bottom:0;*/
/*    width:150px;*/
/*    }*/
/*nav ul li a{*/
/*    display:block;*/
/*    background-color:#37210c;*/
/*    border-right:1px solid #fff;*/
/*    line-height:2.5em;*/
/*    margin-right:0;*/
/*    padding:8px 14px 8px 14px;*/
/*    color: #ecf9ff;*/
/*    font-weight:normal;*/
/*    font-size: 0.8em;*/
/*    text-decoration: none;*/
/*    }*/
/*nav li a:hover{*/
/*    color: #000;*/
/*    background-color:#ecf9ff;*/
/*    }*/
/*nav ul li .selected{*/
/*    color: #ecf9ff;*/
/*    background-color:#e67e1f;*/
/*    }*/
/*aside{*/
/*    float:left;*/
/*    list-style:none;*/
/*    margin-left:10px;*/
/*    height:50%;*/
/*    }*/
/*aside ul{*/
/*    list-style:none;*/
/*    margin-bottom:20px;*/
/*    margin-top:20px;*/
/*    margin-left:0;*/
/*    }*/
/*aside li{*/
/*    text-align:left;*/
/*    padding-left:0;*/
/*    padding-top:0;*/
/*    padding-bottom:0;*/
/*    border-bottom:1px solid #eaeada;*/
/*    }*/
/*aside ul li a{*/
/*    background-image: url("#");*/
/*    background-repeat:no-repeat;*/
/*    background-position:left center;*/
/*    display:block;*/
/*    background-color:#ffffff;*/
/*    line-height:1.7em;*/
/*    margin-right:0;*/
/*    padding-top:6px;*/
/*    padding-bottom:6px;*/
/*    padding-left:22px;*/
/*    color: #666666;*/
/*    font-weight:normal;*/
/*    font-size: 0.8em;*/
/*    text-decoration: none;*/
/*    width:165px;*/
/*    }*/
/*aside  li a:hover{*/
/*    color: #37210c;*/
/*    background-color:#f7f7f2;*/
/*    }*/
/*aside .selected{*/
/*    color: #37210c;*/
/*    background-color:#f7f7f2;*/
/*    }*/
/*#content{*/
/*    margin:0 auto;*/
/*    width:902px;*/
/*    background-color:#dfeef9;*/
/*    height:290px;*/
/*    clear:both;*/
/*    }*/
/*section{*/
/*    float:left;*/
/*    width:75%;*/
/*    margin-right:0;*/
/*    margin-top:15px;*/
/*    background-color:#FFF;*/
/*    text-align:left;*/
/*    font-size:0.9em;*/
/*    padding:5px;*/
/*    }*/
/*section h1{*/
/*    display:block;*/
/*    font-size:0.9em;*/
/*    width:50px;*/
/*    font-family: arial;*/
/*    text-align:left;*/
/*    font-weight:bold;*/
/*    color:#403f3b;*/
/*    font-family:arial;*/
/*    font-weight:bold;*/
/*    padding:5px;*/
/*    margin-top:5px;*/
/*    margin-left:12px;*/
/*    }*/
/*section p{*/
/*    font: normal 0.9em Arial, Verdana, Helvetica, sans-serif;*/
/*    font-size:0.9em;*/
/*    color: #000000;*/
/*    padding:10px;*/
/*    text-align:left;*/
/*    }*/
/*footer {*/
/*    width:902px;*/
/*    height: 85px;*/
/*    clear:both;*/
/*    margin-top: 10px;*/
/*    background-color:#dfeef9;*/
/*    color:#666666;;*/
/*    margin-left:auto;*/
/*    margin-right:auto;*/
/*    margin-bottom: 0;*/
/*    padding-top: 15px;*/
/*    padding-right: 0;*/
/*    padding-bottom: 0;*/
/*    padding-left: 0;*/
/*    }*/
/*footer p{*/
/*    font-size:0.7em;*/
/*    font-family:arial;*/
/*    font-weight:normal;*/
/*    line-height: 1.4em;*/
/*    color:#555555;*/
/*    padding:25px 0 0 10px;*/
/*    text-align:center;*/
/*    }*/
/*footer a {*/
/*    font-size:1em;*/
/*    text-decration:none;*/
/*    font-weight:normal;*/
/*    color:#467AA7;*/
/*    text-align:center;*/
/*    }*/
/*footer a:hover{*/
/*    text-decoration:underline;*/
/*    font-weight:normal;*/
/*    color:#467AA7;*/
/*    text-align:center;*/
/*    }*/

body{
    background-color:#eceddd;
    font-family:Arial, Verdana,'Lucida Grande', Helvetica, sans-serif;
    text-align: center;
}

.header{
    width: 900px;
    height: 100px;
    margin: 0 auto;
}

.header h1{
    font-family:Arial,verdana, sans-serif;
    color:#37210c;
    font-weight:bolder;
    line-height: 100px;
}

.orange{
    color:#e67e1f;
    }

.navigation{
    margin: 0 auto;
    width: 900px;
    height: 40px;
    background: #303;
}
.navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigation ul li{
    width: 150px;
    float: left;
    padding: 0;
    margin: 0;
}

.navigation ul li a{
    display: block;
    background-color:#37210c;
    border-right:1px solid #fff;
    line-height: 40px;
    color: #ecf9ff;
    text-decoration: none;
}

.navigation li a:hover{
    color: #000;
    background-color:#ecf9ff;
    }

.navigation ul li .selected{
    color: #ecf9ff;
    background-color:#e67e1f;
    }

.content{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.content-left{
    width: 700px;
    height: 500px;
    float: left;
}
.content-left p{
    text-align: left;
    text-indent: 32px;
}

.content-right{
    width: 190px;
    height: 475px;
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}
.content-right ul{
    height: 500px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.content-right ul li{
    text-align: left;
    padding: 0;
    margin: 0;
    border-bottom:1px solid #eaeada;
}
.content-right ul li a{
    display: block;
    background-color: #ffffff;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:22px;
    color: #666666;
    text-decoration: none;
}
.content-right li a:hover{
    color: #37210c;
    background-color:#f7f7f2;
    }
.content-right .selected{
    color: #37210c;
    background-color:#f7f7f2;
    }

.footer{
    width: 900px;
    height: 85px;
    margin: 0 auto;
    background-color:#dfeef9;
    color:#666666;
}
