body{
    background-color:#eceddd;
    font-family:Arial, Verdana,'Lucida Grande', Helvetica, sans-serif;
    text-align: center;
}

.header{
    width: 900px;
    height: 100px;
    margin: 0 auto;
}

.header h1{
    font-family:Arial,verdana, sans-serif;
    color:#37210c;
    font-weight:bolder;
    line-height: 100px;
}

.orange{
    color:#e67e1f;
    }

.write{

}

.navigation{
    margin: 0 auto;
    width: 900px;
    height: 40px;
    background: #303;
}
.navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigation ul li{
    width: 150px;
    float: left;
    padding: 0;
    margin: 0;
}

.navigation ul li a{
    display: block;
    background-color:#37210c;
    border-right:1px solid #fff;
    line-height: 40px;
    color: #ecf9ff;
    text-decoration: none;
}

.navigation li a:hover{
    color: #000;
    background-color:#ecf9ff;
    }

.navigation ul li .selected{
    color: #ecf9ff;
    background-color:#e67e1f;
    }

.content{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.content-left{
    width: 700px;
    height: 500px;
    float: left;
}
.content-area{
    list-style-type: none;
    text-align: left;
}
.blog_title{
    font-weight: bold;
    overflow: hidden;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.blog_title a{
    text-decoration: none;
    color: black;
}
.blog_content{
    text-indent: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8a8a8a;
}

.content-right{
    width: 190px;
    height: 475px;
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}
.content-right ul{
    height: 500px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.content-right ul li{
    text-align: left;
    padding: 0;
    margin: 0;
    border-bottom:1px solid #eaeada;
}
.content-right ul li a{
    display: block;
    background-color: #ffffff;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:22px;
    color: #666666;
    text-decoration: none;
}
.content-right li a:hover{
    color: #37210c;
    background-color:#f7f7f2;
    }
.content-right .selected{
    color: #37210c;
    background-color:#f7f7f2;
    }

.footer{
    width: 900px;
    height: 85px;
    margin: 0 auto;
    background-color:#dfeef9;
    color:#666666;
}
.footer p{
    margin: 0;
    padding-top: 10px;
}
