<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div class="header">
    <div class="header-title">
        XXX登录系统
    </div>
</div>

<div class="center">
    <div class="center-login">
        <form>
            <div class="center-login-user">
                <p>用户名：<input type="text"></p>
            </div>
            <div class="center-login-pwd">
                <p>密码：<input type="text"></p>
            </div>
            <div class="center-login-btn">
                <p><input type="submit" value="log in"></p>
            </div>
        </form>
    </div>
</div>

<div class="footer">
    <div class="footer-title">
        关于我们
    </div>
</div>

</body>
</html>